@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#circle-menu {
  --item-size: 14vmin;
  --logo-size: calc(4 * var(--item-size));
  --item-space: .32;
  --radius: calc(.5 * (1 + var(--item-space)) * var(--item-size) / var(--item-padding));
  --size: calc(2 * var(--radius) + var(--item-size));
  position: relative;
  width: var(--size);
  height: var(--size);
}

.circle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  height: var(--logo-size);
  width: var(--logo-size);
  margin: calc(-.5 * var(--logo-size));
}

.circle-item {
  --degree: calc(var(--i) * 360deg / var(--item-count) + var(--item-rotate));
  position: absolute;
  top: 50%;
  left: 50%;
  height: var(--item-size);
  width: var(--item-size);
  margin: calc(-.5 * var(--item-size));
  transform: rotate(var(--degree)) translate(var(--radius)) rotate(calc(var(--degree) * -1));
}

.circle-item > * {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: grow-and-shrink;
  animation-name: grow-and-shrink;
  animation-iteration-count: 4;
}
