:root {
  --horizontal-padding: .8vmin;
  --vertical-padding: .8vmin;
}

:root, :root[data-theme = 'dark'] {
  --background-color: rgba(42, 42, 42, 1);
  --background-gradient: radial-gradient(var(--background-color), black);
  --foreground-color: rgba(255, 255, 255, 1);
  --primary-color: rgba(218, 165, 32, 1);
  --svg-button-filter: invert(1);
}

:root[data-theme = 'light'] {
  --background-color: rgba(128, 128, 128, 1);
  --background-gradient: radial-gradient(white, var(--background-color));
  --foreground-color: rgba(0, 0, 0, 1);
  --primary-color: rgba(184, 134, 11, 1);
  --svg-button-filter: invert(0);
}

::-moz-selection {
  background: var(--primary-color);
  text-shadow: none;
}

::selection {
  background: var(--primary-color);
  text-shadow: none;
}

* {
  margin: 0;
}

html {
  background: var(--background-color) var(--background-gradient);
  color: var(--foreground-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: right;
  padding: 1.6vmin;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6vmin;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.6vmin;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.horizontal-flex > * {
  padding: 0 var(--horizontal-padding);
}

.horizontal-flex > *:first-child {
  padding-left: 0;
}

.horizontal-flex > *:last-child {
  padding-right: 0;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.vertical-flex > * {
  padding: var(--vertical-padding) 0;
}

.vertical-flex > *:first-child {
  padding-top: 0;
}

.vertical-flex > *:last-child {
  padding-bottom: 0;
}

.no-list-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img-button, .svg-button {
  cursor: pointer;
  height: 2vmin;
  width: 2vmin;
  transition: filter .4s ease;
}

.img-button {
  filter: grayscale(1);
}

.img-button:hover {
  filter: grayscale(0);
}

.svg-button {
  filter: var(--svg-button-filter);
}

.svg-button:hover {
  filter: invert(64%) sepia(79%) saturate(475%) hue-rotate(1deg) brightness(92%) contrast(87%);
}
